body{
  background-color:#f0f0f0;
  color: black;
  /* font-size: 25px; */
  font-family: monospace;
  /* overflow: hidden; */
}
.container-bg
{
  margin-bottom:10px;
  /* padding-top: 0px; */
  background: #530d8a;
  height: 5vh;

}
.navbar-custom {
          background-color: #530d8a;
      }
      /* Modify brand and text color */

      .navbar-custom .navbar-brand,
      .navbar-custom .navbar-text,
      .navbar-custom .nav-item,
      .navbar-custom .nav-link {
          color: white;
      }
.container-fluid
{
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  height: 95vh;

}
#instructions{
  border: 1px solid white;
  font-size: 14px;
}
#options{
  border: 1px solid white;
  font-size: 18px;
}
#traffic-graph{
  background-color: #f0f0f0;
  border: 1px solid white;

  /* background-color: blue; */
}
#delay-graph{

  background-color: #f0f0f0;
  border: 1px solid white;
}
#traffic-table{
  background-color: #f0f0f0;
  border: 1px solid white;

  /* background-color: blue; */
}
#delay-table{

  background-color: #f0f0f0;
  border: 1px solid white;
}
label{
  color: steelblue;
  font-weight: bold;
}
#info{
  height: 10vh;
}
#main{
  height: 85vh;
}
#graph-header{
  padding: 10px;
  text-align: center;
  color: steelblue;
  text-decoration-line: underline;
  text-decoration-style: double;
  height: 5vh;
}
#table-header{
  padding: 10px;
  text-align: center;
  color: steelblue;
  text-decoration-line: underline;
  text-decoration-style: double;
  height: 5vh;
}
#main-graph{
  height: 80vh;

}
#main-graph-delay{
  height: 80vh;

}
#main-table{
  padding:10px;
  margin: 5px;
}
#table_data{
  float:center;
}
.btn{
  margin: 5px;
}
table{
  table-layout: fixed;
  font-size: 14px;
  width: 100%;
}
.node {}

.link {  stroke-width: 2px; }
